<div
  class="w-screen fixed z-50 bottom-4 flex flex-col gap-6 md:relative md:w-fit md:px-6 md:my-4 md:py-4 md:border-r md:border-r-border md:max-w-96 md:h-full"
>
  <div class="hidden md:flex flex-col gap-8">
    <div>
      <h1 class="font-bold text-xl">Generate a Tailwind pallette.</h1>
      <span class="text-muted">
        Instantly create stunning color scales by entering a base color or
        hitting the spacebar.
      </span>
    </div>
    <form class="flex flex-col gap-4">
      <span class="font-bold">Combination scheme</span>
      <label class="block">
        <input
          type="radio"
          name="opcion"
          value="opcion1"
          class="peer hidden border-text"
        />
        <div
          class="border select-none border-t-highline border-b-bottomline border-x-border shadow-sm w-full rounded-xl p-2 flex gap-2 justify-between bg-neutral peer-checked:bg-text peer-checked:text-dark peer-checked:border-text cursor-pointer"
        >
          <span>Complementary</span>
        </div>
      </label>
      <label class="block">
        <input
          type="radio"
          name="opcion"
          value="opcion1"
          class="peer hidden border-text"
        />
        <div
          class="border select-none border-t-highline border-b-bottomline border-x-border shadow-sm w-full rounded-xl p-2 flex gap-2 justify-between bg-neutral peer-checked:bg-text peer-checked:text-dark peer-checked:border-text cursor-pointer"
        >
          <span>split-complementary</span>
        </div>
      </label>
      <label class="block">
        <input
          type="radio"
          name="opcion"
          value="opcion1"
          class="peer hidden border-text"
        />
        <div
          class="border select-none border-t-highline border-b-bottomline border-x-border shadow-sm w-full rounded-xl p-2 flex gap-2 justify-between bg-neutral peer-checked:bg-text peer-checked:text-dark peer-checked:border-text cursor-pointer"
        >
          <span>Analogous</span>
        </div>
      </label>
      <label class="block">
        <input
          type="radio"
          name="opcion"
          value="opcion1"
          class="peer hidden border-text"
        />
        <div
          class="border select-none border-t-highline border-b-bottomline border-x-border shadow-sm w-full rounded-xl p-2 flex gap-2 justify-between bg-neutral peer-checked:bg-text peer-checked:text-dark peer-checked:border-text cursor-pointer"
        >
          <span>Triadic</span>
        </div>
      </label>
    </form>
  </div>
</div>
