<div
  class="h-64 border p-4 border-border rounded-xl flex flex-col justify-between bg-dark"
>
  <div class="flex gap-2">
    <span
      class="text-sm px-2 leading-4 py-1 border border-primary-500 text-primary-500 rounded-full"
      >Desing</span
    >
    <span
      class="text-sm px-2 leading-4 py-1 border border-primary-500 text-primary-500 rounded-full"
      >Checking</span
    >
  </div>

  <div class="flex flex-col">
    <span class="font-bold">Structure editorial calendar</span>
    <span class="text-sm text-muted"
      >Lorem ipsum dolor sit, amet dolor ipsum malestar ayer.</span
    >
  </div>

  <div class="flex gap-4">
    <div class="flex gap-1 items-center text-primary-500">
      <i class="material-symbols-rounded">message</i>
      <span>3</span>
    </div>
    <div class="flex gap-1 items-center text-primary-500">
      <i class="material-symbols-rounded">schedule</i>
      <span>3</span>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <img src="people/people2.jpeg" alt="" class="bg-primary-950 h-8 rounded-full" />
    <img src="people/people3.jpeg" alt="" class="bg-primary-950 h-8 rounded-full" />
    <i class="material-symbols-rounded text-primary-500 ml-auto">open_in_new</i>
  </div>
</div>
