<div class="p-6 pl-3 h-full border-r border-neutral-300 w-full">
  <ul class="flex flex-col gap-1">
    <h2 class="font-semibold">Very fast palletes generator</h2>
    <span>Instantly create stunning color scales by entering a base color or hitting the spacebar.</span>
    <app-button [style]="'text'" [vertList]="true" [label]="'profile'" [icon]="'person'" />
    <app-button [style]="'text'" [vertList]="true" [label]="'comunity'" [icon]="'group'" />
    <app-button [style]="'text'" [vertList]="true" [label]="'subscription'" [icon]="'credit_card'" />
  </ul>
</div>
