<nav class="flex w-screen max-w-6xl p-3 justify-between">
  <div class="flex gap-4">
    <h1 class="text-3xl font-semibold">Pallet Check</h1>
    <ul class="flex gap-2">
      <app-button [style]="'text'" [label]="'Generate'" />
      <app-button [style]="'text'" [label]="'Saved Palletes'" />
      <app-button [style]="'text'" [label]="'Example Palletes'" />
      <app-button [style]="'text'" [label]="'Components'" />
    </ul>
  </div>
  <div class="flex gap-2">
    <app-button [style]="'text'" [icon]="'dark_mode'" [showLabel]="false" />
    <app-button [style]="'filled'" [label]="'Login'" />
  </div>
</nav>
