<div class="flex flex-col gap-6">
  <div class="flex justify-between items-center">
    <div class="flex gap-4 items-center">
      <span class="text-lg font-bold">
        {{ paletteService.currentPalette().name }}
      </span>
      <app-button [style]="'border'" [icon]="'bookmark'" />
      <div class="flex gap-2">
        @for (color of paletteService.currentPalette().colors; track $index) {
          <div
            class="h-9 w-9 rounded-xl"
            [style]="`background-color: ${color.shades[4].value};`"
          ></div>
        }
        <app-button
          [style]="'filled'"
          [icon]="'add'"
          [label]="'Add color'"
          (click)="addNewColor()"
        />
      </div>
    </div>
    <div class="flex gap-2">
      <app-button
        [style]="'filled'"
        [icon]="'upgrade'"
        [label]="'Export palette'"
      />
    </div>
  </div>
  @for (color of paletteService.currentPalette().colors; track $index) {
    <app-color-shades [color]="color" />
  }
</div>
