<div class="flex fixed w-screen p-3 bottom-0">
  <div
    class="p-3 flex h-fit mx-auto flex-col gap-3 shadow-xl border rounded-2xl border-neutral-300 bg-neutral-100 dark:bg-neutral-800 dark:border-neutral-700"
    [ngClass]="isOpen? 'w-full' : 'w-fit'"
  >
    <div class="w-full flex justify-between items-center">
      <div class="flex items-center gap-3 mx-auto">
        <app-button [style]="'border'" [label]="'Pallette'" />
        <app-button [style]="'text'" [label]="'Shades'" />
        <app-button [style]="'text'" [label]="'Methods'" />
      </div>
      <div class="flex flex-row-reverse gap-3">
        <app-button
          (click)="toggleState()"
          [icon]="isOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up'"
          [style]="'text'"
        />
      </div>
    </div>
    @if (isOpen) {
      <app-pallette-output />
      <!-- <app-shades-output /> -->
    }
  </div>
</div>
