<div class="flex gap-2">
  <div
    class="px-1.5 relative rounded-xl form-control bg-neutral flex items-center border border-border focus-within:outline w-full"
  >
    <input
      data-v-cb200df0=""
      type="color"
      class="absolute top-1/2 transform -translate-y-1/2 w-5 h-5 rounded-full border-none left-3 cursor-pointer"
      style="appearance: none"
    />
    <input
      type="text"
      placeholder="Hexcode"
      class="px-4 pl-10 bg-transparent rounded-xl w-full focus:outline-none"
      (keyup.enter)="onEnter($event)"
    />
    <div class="hidden">
      <app-button [icon]="'lock'" />
    </div>
    <div class="flex gap-2 py-2 h-fit">
      <app-button
        [icon]="'shuffle'"
        [style]="'filled'"
        [classList]="'w-full gap-3'"
      />
    </div>
  </div>
</div>
