<div class="flex flex-col gap-4 items-center w-full">
  <div
    class="px-1.5 relative rounded-xl form-control bg-neutral flex items-center border border-border focus-within:outline w-full"
  >
    <input
      data-v-cb200df0=""
      type="color"
      class="absolute top-1/2 transform -translate-y-1/2 w-5 h-5 rounded-full border-none left-3 cursor-pointer"
      style="appearance: none"
    />
    <input
      type="text"
      placeholder="Hexcode"
      class="px-4 pl-10 bg-transparent rounded-xl py-3 w-full focus:outline-none"
      (keyup.enter)="onEnter($event)"
    />
    <div class="hidden">
      <app-button [icon]="'lock'" />
    </div>
    <div class="flex gap-2 py-2 h-fit md:hidden">
      <app-button
        [icon]="'shuffle'"
        [style]="'border'"
        [classList]="'w-full gap-3'"
      />
      <app-button
        [icon]="'add  '"
        [style]="'filled'"
        [classList]="'w-full gap-3'"
      />
    </div>
  </div>
  <div class="gap-4 h-fit hidden md:flex flex-col w-full">
    <app-button
      [icon]="'shuffle'"
      [style]="'border'"
      [classList]="'w-full gap-3 py-3'"
      [label]="'Random color'"
    />
    <app-button
      [icon]="'add  '"
      [style]="'filled'"
      [classList]="'w-full gap-3 py-3'"
      [label]="'Add color'"
    />
  </div>
</div>
