<div class="flex flex-col gap-2">
  <div class="flex gap-4 items-center">
    <div class="grow flex items-center gap-2">
      <span>Color name</span>
      <app-button [icon]="'check_box'" />
    </div>
    <span>Export</span>
  </div>
  <div class="flex gap-1.5 overflow-hidden">
    <div
      class="h-24 grid place-items-center bg-primary-50 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-100 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-200 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-300 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-400 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-600 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-700 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-800 grow rounded-xl font-bold"
    ></div>
    <div
      class="h-24 grid place-items-center bg-primary-900 grow rounded-xl font-bold"
    >
      <div
        class="h-24 grid place-items-center bg-primary-950 grow rounded-xl font-bold"
      ></div>
    </div>
  </div>
</div>
