<div class="flex flex-col gap-2">
  <div class="flex flex-wrap gap-2 items-center justify-between">
    <div class="flex gap-2 items-center">
      <input
        type="text"
        [value]="color().name"
        class="focus:outline-0 w-fit border border-border rounded-xl p-1.5 bg-neutral"
      />
      <input
        type="text"
        [value]="color().shades[4].value"
        class="focus:outline-0 border border-border rounded-xl p-1.5 w-20 bg-neutral"
      />
      <app-button [icon]="'repeat'" [style]="'border'" />
    </div>
    <div class="flex gap-2">
      <app-button [icon]="'contrast'" [style]="'border'" />
      <app-button [icon]="'upgrade'" [style]="'border'" />
    </div>
  </div>
  <div class="flex gap-1.5 overflow-hidden">
    @for (shade of color().shades; track $index) {
      <div
        [style]="`background-color: ${shade.value};`"
        class="h-24 w-18 grow rounded-xl"
      ></div>
    }
  </div>
</div>
