<div class="flex flex-col gap-2">
  <div class="flex gap-4 items-center">
    <div class="grow flex items-center gap-2">
      <app-button [icon]="'check_box'" />
      <span>Color name</span>
    </div>
    <span>Export</span>
  </div>
  <div class="flex gap-1.5 overflow-hidden">
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
    <div
      class="h-24 grid place-items-center bg-primary-500 grow rounded-xl font-bold"
    >
      #color
    </div>
  </div>
</div>
