<div
  class="p-3 bg-neutral-50 fixed flex h-fit w-full flex-col transition-transform gap-3 border-t border-neutral-300 dark:border-neutral-700 dark:bg-neutral-900"
  [ngClass]="isOpen ? 'bottom-0' : 'closedPallette'"
>
  <div class="w-full flex justify-between items-center">
    <h2 class="font-bold text-lg text-center w-full dark:text-neutral-50">
      Color pallete
    </h2>
    <div class="flex flex-row-reverse gap-3">
      @if (!isOpen) {
        <app-button [icon]="'repeat'" (click)="generateRandomPallette()" />
      }
      <app-button
        (click)="toggleState()"
        [icon]="isOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up'"
        [style]="'text'"
      />
    </div>
  </div>
  <div class="flex flex-col gap-1">
    @for (color of pallette.colors; track $index) {
      <app-palletecolor-input [color]="color">
        <button (click)="toggleBlocked($index)">
          <i
            class="material-icons-round"
            [style]="`color: ${color.optimalTextColor}`"
          >
            {{ color.blocked ? "lock" : "lock_open" }}
          </i>
        </button>
      </app-palletecolor-input>
    }
  </div>
  <div class="flex gap-3 flex-row-reverse">
    <app-button [icon]="'repeat'" (click)="generateRandomPallette()" />
    <app-button [icon]="'share'" [label]="'Share'" />
    <app-button [icon]="'star'" />
  </div>
</div>
