<div class="border-b border-light h-14 fixed w-screen flex justify-center bg-dark">
  <nav class="py-2 px-6 flex gap-6 items-center w-full max-w-7xl">
    <div class="mr-6">
      <a href="/" class="text-xl font-bold">Loom</a>
    </div>
    <a href="/new-palette" class="text-sm hidden md:block">New Palette</a>
    <a href="/my-palettes" class="text-sm hidden md:block">My Palettes</a>
    <a href="/help" class="text-sm hidden md:block">Help</a>

    <div class="md:hidden flex relative">
      <app-button
        [label]="'More'"
        [icon]="'keyboard_arrow_down'"
        [classList]="'text-lg'"
        (click)="menuOpen = !menuOpen"
      />
      @if (menuOpen) {
        <div
          class="border border-border bg-neutral rounded-xl py-3 px-6 flex flex-col gap-2 z-100 absolute -bottom-36 shadow-xl"
        >
          <a href="#" class="text-lg">Generate</a>
          <a href="#" class="text-lg text-nowrap">My Pallettes</a>
          <a href="#" class="text-lg">Help</a>
        </div>
      }
    </div>

    <app-theme-toggle-btn
      [className]="'ml-auto'"
      [classList]="'border border-border rounded-full ml-auto'"
    />
  </nav>
</div>
