<div
  class="border border-border rounded-xl h-64 p-2 flex flex-col gap-2 justify-center bg-dark"
>
  <div class="flex gap-2 items-center p-2">
    <i class="material-symbols-rounded bg-primary-600 p-3 rounded-lg">
      dashboard
    </i>
    <div>
      <h3 class="font-bold">Dashboard</h3>
      <span class="text-muted"> All in one place. </span>
    </div>
  </div>
  <div class="flex gap-2 items-center p-2">
    <i class="material-symbols-rounded bg-primary-600 p-3 rounded-lg">
      add_location_alt
    </i>
    <div>
      <h3 class="font-bold">Geolocation</h3>
      <span class="text-muted"> In real time location. </span>
    </div>
  </div>
  <div class="flex gap-2 items-center p-2">
    <i class="material-symbols-rounded bg-primary-600 p-3 rounded-lg">
      beenhere
    </i>
    <div>
      <h3 class="font-bold">Security</h3>
      <span class="text-muted"> Your data always safe. </span>
    </div>
  </div>
</div>
