<div class="flex flex-col items-center gap-2">
  <div class="flex gap-2 w-full">
    <div
      class="bg-primary-100 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-200 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-300 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-400 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-500 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-600 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-700 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-800 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-primary-900 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
  </div>

  <div class="flex gap-2 w-full">
    <div
      class="bg-secondary-100 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-200 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-300 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-400 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-500 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-600 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-700 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-800 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
    <div
      class="bg-secondary-900 w-full h-24 border border-neutral-300 rounded-md"
    ></div>
  </div>

  <div class="py-2 flex">
    <app-button [label]="'Generate pallette'" [icon]="'repeat'" />
  </div>
</div>
