  <header class="p-3 py-24 pt-28 flex flex-col items-center gap-3">

    <div>
      <app-svg1 />
    </div>

    <h1 class="text-4xl font-bold text-text">
      Frase de lo que hace <strong class="text-primary">esto</strong> que esta
      <strong class="text-secondary">copado</strong>
    </h1>
    <span class="text-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, non?
    </span>
    <br>
    <div class="flex gap-3 w-full">
      <button class="bg-secondary p-3 px-6 rounded-xl text-nowrap">
        Learn more
      </button>
      <button class="bg-primary p-3 px-6 rounded-xl w-full text-nowrap">
        Try a rondom pallette!
      </button>
    </div>
  </header>
