<div class="w-full h-full gap-2 flex flex-wrap border-r-neutral-300 border-r p-6 overflow-y-scroll">
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
  <div class="bg-neutral-300 rounded-3xl h-64 p-2 w-full">
    <app-button [icon]="'check'" />
  </div>
</div>
