@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-dark: hsl(0, 0%, 100%);
  --color-neutral: hsl(0, 0%, 95%);
  --color-light: hsl(0, 0%, 90%);

  --color-border: hsl(0, 0%, 85%);
  --color-highline: hsl(0, 0%, 85%);
  --color-bottomline: hsl(0, 0%, 85%);

  --color-text: hsl(0, 0%, 10%);
  --color-muted: hsl(0, 0%, 25%);

  --color-primary-50: #f3f6fb;
  --color-primary-100: #e4e9f5;
  --color-primary-200: #cfdaee;
  --color-primary-300: #afc2e1;
  --color-primary-400: #88a1d2;
  --color-primary-500: #6c85c5;
  --color-primary-600: #586cb7;
  --color-primary-700: #4e5ca7;
  --color-primary-800: #444d89;
  --color-primary-900: #3a436e;
  --color-primary-950: #272b44;

  --color-deco-100: #dedede;
  --color-deco-200: #bebebd;
  --color-deco-300: #9e9e9e;
  --color-deco-400: #808080;
  --color-deco-50: #eeeeee;
  --color-deco-500: #636363;
  --color-deco-600: #484848;
  --color-deco-700: #2e2e2e;
  --color-deco-800: #161616;
  --color-deco-900: #060606;
  --color-deco-950: #020202;

  --container-7xl: 1424px
}

.dark {
  --color-dark: hsl(0, 0%, 5%);
  --color-neutral: hsl(0, 0%, 10%);
  --color-light: hsl(0, 0%, 15%);

  --color-border: hsl(0, 0%, 20%);
  --color-highline: hsl(0, 0%, 24%);
  --color-bottomline: hsl(0, 0%, 14%);

  --color-text: hsl(0, 0%, 90%);
  --color-muted: hsl(0, 0%, 75%);
}

@layer base {
  body {
    @apply text-[var(--color-text)];
  }
}

button {
  cursor: pointer;
}
