@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-dark: hsl(0, 0%, 100%);
  --color-neutral: hsl(0, 0%, 95%);
  --color-light: hsl(0, 0%, 90%);

  --color-border: hsl(0, 0%, 85%);
  --color-highline: hsl(0, 0%, 85%);
  --color-bottomline: hsl(0, 0%, 85%);

  --color-text: hsl(0, 0%, 10%);
  --color-muted: hsl(0, 0%, 25%);

  --color-primary-700: hsl(2, 83%, 40%);
  --color-primary-600: hsl(5, 85%, 48%);
  --color-primary-500: hsl(10, 89%, 53%);
  --color-primary: hsl(12, 90%, 60%);
  --color-primary-300: hsl(16, 91%, 72%);
  --color-primary-200: hsl(18, 91%, 83%);
  --color-primary-100: hsl(19, 95%, 92%);
}

.dark {
  --color-dark: hsl(0, 0%, 5%);
  --color-neutral: hsl(0, 0%, 10%);
  --color-light: hsl(0, 0%, 15%);

  --color-border: hsl(0, 0%, 20%);
  --color-highline: hsl(0, 0%, 24%);
  --color-bottomline: hsl(0, 0%, 14%);

  --color-text: hsl(0, 0%, 90%);
  --color-muted: hsl(0, 0%, 75%);
}

@layer base {
  body {
    @apply text-[var(--color-text)];
  }
}
