<div
  class="h-64 border border-border rounded-xl p-4 flex flex-col justify-evenly bg-dark"
>
  <div class="flex gap-2 items-center">
    <img src="people/people3.jpeg" alt="" class="bg-primary-950 h-12 rounded-full" />
    <div class="flex flex-col overflow-hidden">
      <span class="font-bold text-primary-400">Ivana Garcia</span>
      <span class="text-muted text-nowrap text">Did you really forget the</span>
    </div>
    <div class="h-6 w-6 min-w-6 bg-primary-500 grid place-items-center rounded-full">
      <span class="font-bold text-sm">1</span>
    </div>
  </div>

  <div class="flex gap-2 items-center">
    <img src="people/people2.jpeg" alt="" class="bg-primary-950 h-12 rounded-full" />
    <div class="flex flex-col overflow-hidden">
      <span class="font-bold text-primary-400">Juan Perez</span>
      <span class="text-muted text-nowrap text"
        >Please don't forget the...</span
      >
    </div>
    <div class="h-6 w-6 min-w-6 bg-primary-500 grid place-items-center rounded-full">
      <span class="font-bold text-sm">6</span>
    </div>
  </div>

  <div class="flex gap-2 items-center">
    <img
      src="people/people1.jpeg"
      alt=""
      class="bg-primary-950 h-12 rounded-full"
    />
    <div class="flex flex-col overflow-hidden grow">
      <span class="font-bold">Mom</span>
      <div class="flex">
        <i class="text-muted text-nowrap text material-symbols-rounded"
          >image</i
        >
        <span class="text-muted">3 images</span>
      </div>
    </div>
  </div>
</div>
